@font-face {
    font-family: 'Danjo';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Danjo/Danjo.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Danjo/Danjo.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Danjo/Danjo.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Danjo/Danjo.ttf') format('truetype');
}
